/**^MAIN-PRODUCTOS**/
main {
    section {
        @include flex(column,center,center,center);
        h2{
            font-family: $fuente-terciaria;
            color:$granate;
            font-size: 3rem;
        }
    }
}

main {
    section {
        div.contenedor__productos{
            div#productos {
                @include flex(row,nowrap,center,end);
                div.variedades {
                    @include flex(column, nowrap, center, center);
                    text-align: center;
                    margin: 2rem auto;
                    div{
                        padding:0.5rem;

                        img {
                            border-radius: 10%;
                            width: 50%;
                            margin:auto;
                        }
                    }
                }
            }
        }
    }
}

main {
    section {
        div {
            div.variedades {

                    width:75%;
                    div{

                        h3.nombre {
                            text-align: center;
                            font-family: $fuente-secundaria;
                            font-size: 1.8rem;
                            color: $marron;
                            text-transform: uppercase;
                            font-weight: bolder;
                            text-shadow: 0px 1px, 1px 0px, 1px 1px;
                        }
                    }
                    div{

                        p.descripcion {
                            text-align: center;
                            font-family: $fuente-secundaria;
                            font-size: 1.6rem;
                            color: $marron;
                            line-height: 2rem;
                        }
                    }
                    div{

                        p.precio {
                            text-align: center;
                            font-weight: bolder;
                            text-shadow: 0px 1px, 1px 0px, 1px 1px;
                            font-family: $fuente-secundaria;
                            font-size: 1.6rem;
                            color: $marron;
                        }
                    }
                    div{

                        a.boton-agregar-carrito{
                            @extend .boton-agregar-carrito
                        }
                    }
                }
        }

    }
    div.offcanvas{
        
        margin-top: 95px;
        border-radius: 10px 0 0 0;
        div.offcanvas-header{
            @include flex(row,nowrap,space-between,center);
            h3{
                margin: 0;
            }
            button{
                margin: 0;
            }
        }
        div.offcanvas-body{
            display:block;
            div.contenedor-carrito{
                div.row{
                    @include flex(row!important,nowrap!important,space-between!important,center!important);
                }
            }
        }
    }
    }

