/**^boton-carrito**/
main {
    section {
        //--Estilo boton de agregar producto al carrito--//
        div {
            div.variedades {
                div {
                    form {
                        input.boton-agregar-carrito {
                            @extend .boton-agregar-carrito;
                        }
                    }
                }
            }
        }
        //--Estilo boton de eliminar producto del carrito--//
        div.offcanvas{
            div.offcanvas-body{
                div.contenedor-carrito{
                    div.row{
                        flex-wrap: wrap!important;
                        div#eliminar-carrito{
                            a{
                                color: $granate!important;
                            }
                        }
                    }
                }
            }
        }


    }
}

/**^boton-ver-productos**/
main {
    section {
        div.contenedor-ver-productos {
            a.boton-ver-productos {
                @extend .boton-agregar-carrito;
                margin: 3rem 0;
            }
        }
    }
}